@font-face {
  font-family: Cocomat Pro;
  src: url(CocomatPro-ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: Cocomat Pro;
  src: url(CocomatPro-Bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Cocomat Pro;
  src: url(CocomatPro-Medium.otf);
  font-weight: 500;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  flex-shrink: 0;
  margin: 97px 24px 11px;
}

.roles {
  font-family: Cocomat Pro;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 18px;
  color: #1F2C2D;
  opacity: 0.4;
}

.title {
  font-family: Cocomat Pro;
  font-style: normal;
  color: #1F2C2D;
  font-weight: 800;
  margin-top: 8px;
  font-size: 48px;
  line-height: 64px;
}

.you {
  color: #00ABB6;
}

.about-me {
  font-family: Cocomat Pro;
  font-style: normal;
  font-weight: 500;
  color: #1F2C2D;
  margin-top: 32px;
  font-size: 16px;
  line-height: 24px;
}

.contact-container {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
}

.contact-me {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;

  width: 100%;
  height: 56px;

  color: #ffffff;

  background: #00ABB6;
  border-radius: 8px;
  font-family: Cocomat Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
}

.contact-me-text {
    padding-top: 4px;
}

.arrow {
  display: flex;
  align-items: center;
}

.media-links-container {
  display: flex;
  margin-top: 16px;
}

.media-link:first-child {
  margin-right: 8px;
}

.media-link:last-child {
  margin-left: 8px;
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;

  height: 56px;
  width: 50%;

  border: 1px solid #00ABB6;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
}

.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}


@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .page {
    width: 490px;
    height: 518px;
    margin: 0 374px 26px 96px;
  }

  .roles {
    font-size: 12px;
    line-height: 16px;
  }

  .title {
    margin-top: 32px;
    font-size: 93px;
    line-height: 104px;
  }

  .about-me {
    margin-top: 40px;
    font-size: 20px;
    line-height: 32px;
  }

  .contact-container {
    flex-direction: row;
    height: 56px;
    margin-top: 102px;
  }

  .contact-me {
    width: 270px;
  }

  .media-links-container {
    margin-top: 0;
  }
  
  .media-link:first-child {
    margin-right: 0;
  }

  .media-link {
    margin-left: 8px;
    width: 56px;
  }
}